@model LoginViewModel
<form asp-action="Register" method="post">
	<div asp-validation-summary="All" class="text-bg-danger"></div>

	<div class="mb-3">
		<label asp-for="UserName"></label>
		<input asp-for="UserName" class="form-control" />
		<span asp-validation-for="UserName"></span>
	</div>
	<div class="mb-3">
		<label asp-for="Email"></label>
		<input asp-for="Email" class="form-control" />
		<span asp-validation-for="Email"></span>
	</div>
	<div class="mb-3">
		<label asp-for="Password"></label>
		<input asp-for="Password" class="form-control" />
		<span asp-validation-for="Password"></span>
	</div>
	<div class="mb-3">
		<input type="submit" value="Login" class="btn btn-primary" />
	</div>

</form>
