@model UserViewModel
<form asp-action="Register" method="post">
	<div asp-validation-summary="All" class="text-bg-danger"></div>

	<div class="mb-3">
		<label asp-for="UserName"></label>
		<input asp-for="UserName" class="form-control" />
		<span asp-validation-for="UserName"></span>
	</div>
	<div class="mb-3">
		<label asp-for="Password"></label>
		<input asp-for="Password" class="form-control" />
		<span asp-validation-for="Password"></span>
	</div>
	<div class="mb-3">
		<label asp-for="ConfirmPassword"></label>
		<input asp-for="ConfirmPassword" class="form-control" />
		<span asp-validation-for="ConfirmPassword"></span>
	</div>
	<div class="mb-3">
		<label asp-for="Email"></label>
		<input asp-for="Email" class="form-control" />
		<span asp-validation-for="Email"></span>
	</div>
	<div class="mb-3">
		<label asp-for="Role"></label>
		<select asp-for="Role" class="form-control">
			<option value="">-- Select Role --</option>
			<option value="Customer">Customer</option>
			<option value="Seller">Seller</option>
			<option value="Admin">Admin</option>
		</select>
		<span asp-validation-for="Role"></span>

	</div>
	<div class="mb-3">
		<input type="submit" value="Register" class="btn btn-primary" />
	</div>

</form>
